body {
	margin: 0 0;
	text-align: center;
	color: #fff;

	background-image: url("anujarora.me/swag.jpg");
	background-size: cover;
	background-attachment: fixed;
	background-position: top center;

	font-family: 'Raleway', sans-serif;
}
h1 {
	font-size: 45pt;
	margin-top: 27vh;
}
#qhacks {
	margin-top: 8vh;
}
#social {
	margin-top: 23vh;
}
@media (max-width: 600px) {
	#qhacks {
	margin-top: 3vh;
}
	h1 {
	margin-top: 19vh;
}
		#social {
			margin-top: 18vh;
			margin-bottom: 3em;
		}
	}